# General
.DS_Store
node_modules/
dist/

# Go
clients/go/bin/

# Rust
clients/rust/target/
clients/rust/.cargo/
clients/rust/Cargo.lock

# C# / .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
